@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    
        text-align: left;
    
}


html{
    font-family: "montserat", sans-serif;
    color: #5F5F5F;
    margin: 0;
    padding: 0;
}


.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 80px;
}

#logo{
    width: 157px;
    height: 44px;    
}

.nav-list ul{
    list-style: none;
    font-weight: 400px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #787878;
}

.nav-link:hover{
    color: #79BCCF;
    font-weight: bold;
}

#cart{
    width: 80%;
    position: relative;
}

main{
    background-image: linear-gradient(to right, #c3e3fa, #cad7f8, #d9c9ee, #e7bbd9, #efafbc);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}


h3{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 23px;
    letter-spacing: 5px;
}

p{
    font-family: "Montserrat", sans-serif;
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

span{
    font-weight: 400;
}

h1{
    font-size: 64px;
    color: #444444;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 23px;
}

/* #container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 165px;
} */

#componentes{
    flex-direction: column;
    align-items: center;
}

button{
    background-color: white;
    color: #79BCCF;
    border: NONE;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-radius: 100px;
    width: 230px;
    height: 50px;
    margin-bottom: 100px ;
    font-size: 18px;
    box-shadow: #444444;
    letter-spacing: 2px;
}

button:hover{
    background-color: #EFAFBC;
    color: white;
}

#social img{
    width: 32px;
    height: 32px;
    margin: 0 36px 62px 0px;
}

#social img:hover{
    background-color: #EFAFBC;
    padding: 5px;
    border-radius: 10px;

}




#textos{
    margin: 150px auto 0;

}
#fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

#roupas{
    width: 80%;
    margin-bottom: 0;
}

#jaqueta{  
    width: 90%;
}

@media (max-width: 768px){
    :root{

            text-align: center;

    }
}